/*+-To apply and save the changes, we open the VS Code Terminal and enter this Code:_  sass --watch sass:css
        And then Save.*/
.p1{
        padding: 4rem;
}

#watch1{
        font-size: 80px;
        font-weight: bolder;
}

#watch2{
        font-size: 80px;
        font-weight: bolder;
}